
:host {
  width: inherit;

  .user-dashboard {
    width: inherit;

    .mat-card {
      max-height: 460px;
      overflow: auto;
    }

    .mat-table {
      .mat-header-cell {
        padding-right: 5px;
      }

      .mat-cell {
        overflow: visible;
        padding-right: 5px;

        .user-info-btn {
          .fa-info-circle {
            font-size: 20px;
          }
        }
      }
    }
  }
}
