<div class="tx-dashboard">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Transactions Dashboard</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <app-transaction-row *ngFor="let tx of txList"
                           [users]="users"
                           [assetName]="assetName"
                           [collateralName]="collateralName"></app-transaction-row>
    </mat-card-content>

    <div class="mt-3 d-flex">
      <button mat-raised-button color="primary" (click)="addTransaction()">Add Transaction</button>
      <button mat-raised-button class="ms-3" color="primary">Execute Transactions</button>
    </div>
  </mat-card>
</div>
